.constaine{
    background: rgb(191, 188, 188);
}
.constainer__cursos{
display: flex;
flex-wrap: wrap;

}
.opcion{
    background: rgb(246, 243, 243);
    width: 15%;
    margin: 4px;
    margin-left: 20px;
}
img{
    width: 25%;
    align-items: center;
}